@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "ember-power-select";

$primary: "blue";
$accent: "deep-orange";
$warn: "red";

$button-margin: 0;
$button-color: white;

@import "ember-paper";

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --white: rgb(240, 240, 240);
  --black: rgb(20, 20, 20);
  --primary-blue: #0288d1;
  --primary-yellow: #e5dd41;
  --primary-green: #44ef73;
  --primary-purple: #b35aef;
  --primary-red: #e55441;

  --primary-font: "Lato";
  --secondary-font: "Montserrat";
}

.test {
  color: red;
}

@import "ember-power-select";
