@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --white: rgb(240, 240, 240);
  --black: rgb(20, 20, 20);
  --primary-blue: #4897d8;

  --primary-font: 'Lato';
  --secondary-font: 'Montserrat';
}
