<div local-class="container">

  <div local-class="nav-bar__container" id="main-navbar">
    <h2 local-class="nav-bar__title">Habit Tracker</h2>
    <div local-class="nav-bar__icon-container">

      {{fa-icon "plus" local-class="nav-bar__plus" click=(action "addNewHabit")}}
      {{fa-icon "bars" local-class="nav-bar__hamburger"}}
    </div>
  </div>
  <div local-class="nav-bar__underneath"></div>

  {{outlet}}
</div>