<div local-class="habit_date-container">
  <DateBlock local-class="habit_date" @month="mar" @day="10" />
  <DateBlock local-class="habit_date" @month="mar" @day="11" />
  <DateBlock local-class="habit_date" @month="mar" @day="12" />
  <DateBlock local-class="habit_date" @month="mar" @day="13" />
  <DateBlock local-class="habit_date" @month="mar" @day="14" />
  <DateBlock local-class="habit_date" @month="mar" @day="15" />
  <DateBlock local-class="habit_date" @month="mar" @day="16" />
</div>