.nav-bar__underneath {
  height: 70px;
}

.nav-bar__container {
  max-width: 1440px;
  top: 0;
  height: 70px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 0 2rem;
}
.nav-bar__title {
  font-family: var(--primary-font);
}

.nav-bar__icon-container {
  display: flex;
}

.nav-bar__hamburger {
  font-size: 2rem;
  padding: 0.5rem;
}
.nav-bar__plus {
  font-size: 2rem;
  padding: 0.5rem;
}
