@import "ember-paper";
.add-new-habit-dialog_container {
  width: 80vw;
  padding: 1rem;
}

.add-new-habit-dialog_button {
  background-color: red;
  width: 100%;
  color: white;
}
.container {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}
.square {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem;
}
.red {
  background-color: #f44336;
}
.pink {
  background-color: #e91e63;
}
.purple {
  background-color: #9c27b0;
}
.deep-purple {
  background-color: #673ab7;
}
.indigo {
  background-color: #3f51b5;
}
.blue {
  background-color: #2196f3;
}
.light-blue {
  background-color: #03a9f4;
}
.cyan {
  background-color: #00bcd4;
}
.teal {
  background-color: #009688;
}
.green {
  background-color: #4caf50;
}
.light-green {
  background-color: #8bc34a;
}
.lime {
  background-color: #cddc39;
}
.yellow {
  background-color: #ffeb3b;
}
.amber {
  background-color: #ffc107;
}
.orange {
  background-color: #ff9800;
}
.deep-orange {
  background-color: #ff5722;
}
.brown {
  background-color: #795548;
}
.grey {
  background-color: #9e9e9e;
}
.blue-grey {
  background-color: #607d8b;
}
